<!DOCTYPE html>
<html>

<head>
    <title>구현 예시!</title>
    <link href="styles/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h1>Intro, N조!</h1>
    <div class="wrapper">
        <div class="profile_wrapper" name="profile_1">
            <div class="profile_content">
                <img class="profile_img" src="src/tmp.jpeg"> <br>
                <span><h1>김선린</h1></span>
                <span>학번</span><br>
                <span>안녕하세요, 김선린 입니다.</span>
            </div>
        </div>
        <div class="profile_wrapper" name="profile_2">
            <div class="profile_content">
                <img class="profile_img" src="src/tmp.jpeg"> <br>
                <span><h1>김선린</h1></span>
                <span>학번</span><br>
                <span>안녕하세요, 김선린 입니다.</span>
            </div>
        </div><br>

        <a href="../index.html">메인 페이지로...</a>
    </div>
</body>

</html>