

img{
    width: 300px;
    height: 400px;
    object-fit: contain;
}
span{
    width: 500px;
    height: 100px;

}
.wrapper{
    text-align: center;
    width : 2000px;
    height : 1000px;
}
.profile{
    width : 800px;
    height : 800px;
}
