/* YOUR CSS */
* {
    font-family: 'Helvetica', 'Consolas', 'san-serif';
    font-size: 1.1em;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    
}

img {
    object-fit: cover;
    width: 300px;
    height: 400px;
    border-radius: 20px;
    border: 2px solid #7a7a7a;
}

span .name {
    font-size: 1.2em;
}

span .number {
    font-size: 1.0em;
}

span .intro {
    font-size: 1.0em;
}