/* YOUR CSS */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    width: 300px;
    height: 400px;
    border-radius: 20px;
    border: 2px solid #7a7a7a;
}

img {
    object-fit: cover;
}