/* YOUR CSS */
img
{
    width:300px;
    height: 400px;
    border-radius: 20%;
    object-fit:cover;
}

a{
    text-align: center;
}

span
{
white-space:pre;
width: auto;
text-align: left;
}
.wrapper
{
    text-align:center;
}

.profile
{
    display: inline-block;
    text-align: left;
}
