@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 50px;
  font-family: 'IBM Plex Sans KR', sans-serif;
}

a {
  text-decoration: none;
  font-size: 25px;
  color:rgba(0, 0, 0);
}

.wrapper {
  display: flex;
  gap: 50px;
  width: 800px;
  height: 500px;
}

.profile {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.profile-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.text-wrapper {
  flex: 1;
}

.img {
  flex: 2;
  height: 50%;
  object-fit: cover;
  width: 100%;
}

.name {
  font-size: 30px;
  font-weight: 700;
}

.desc {
  color: rgb(140, 140, 140);
}
