.profile_img{
    width: 300px;
    height: 400px;
    border-radius: 80px;
    object-fit: cover;
}

.main{
    text-align: center;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile{
    margin:75px;
    text-align: left;
}

span{
    display: block;
    margin-top: 10px;
}
